.float-right {
    float: right;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    text-align: start;
    width: 100%;
}

.link-bar {
    max-width: 550px;
    width: 80%;
}

.link-bar > * {
    background-color: transparent;
    color: white;
    margin-top: 0;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}

.link-bar > *:hover {
    color: rgba(236, 225, 120, 0.842) !important; /* goldenrod */
}

.login-container {
    align-items: center;
    background-image: url(../../img/login-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 42rem;
    text-align: center;
    width: 100%;
}

.login-container button,
.login-container input {
    border-width: 0;
    padding: 10px;
    font-size: 1rem;
    display: block;
}

.login-container input{
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: start;
    text-align-last: start;
    margin-bottom: 0.7rem;
    max-width: 550px;
}

.login-container img {
    margin: 7rem auto 2rem;
    width: 13rem;
}

.login-container button {
    background-color:rgba(69, 3, 92, 0.7);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom: 1rem;
    max-width: 550px;
}

.login-container button:hover {
    background-color:rgba(69, 3, 92, 0.7);
}

@media screen and (min-width: 1023px){
    .login-container {
        min-height: 74rem;
        margin-bottom: -1rem;
    }
}

@media screen and (min-width: 762px){
    .login-container img{
        width: 13rem;
    }
}
