.topHalf {
    background-image: url("../../img/guthrie.jpeg");
    color: white;
    padding: 0;
    object-fit: fill !important; /* TODO: wierd picture placement */
}

.min_height{
    min-height: 150px;
    position: relative;
}

.eval_title {
    position: absolute;
    top: 50%;
    margin-top: -20px; /* Half this element's height */
    left: 50%;
    margin-left: -80px;
    width: fit-content;
    border: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
}

.eval_form_container {
    margin: 50px;
}

.form_title {
    font-weight: 700 !important;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 25px;
}
.required-field:after {
    color: red;
    content: "*";
}

.form-section{
    margin-bottom: 40px;
}

/* Autocomplete container */

.autocomplete_container {
    border-style: solid;
    border-width: 1px;
    border-color: #7E7E7E;
    width: 350px;
    min-height: 30px;
    color: #8A71EF;

    display: inline-flex;
    flex-direction: column;
}

.autocomplete_result_container {
    padding: 5px;
    height: 300px;
    overflow: scroll;
}

.autocomplete_item {
    color: black;
    padding: 3px;
}

.autocomplete_item:hover {
    background-color: #8A71EF;
    color: white;
}

.text_input {
    border: 1px none #7E7E7E;
    border-bottom-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

/* Bold ICAO name while keep the airport's full name as regular form*/
.suggestionICAO {
    font-weight: 650;
}