.topHalf {
    background-image: url("../../img/guthrie.jpeg");
    color: white;
    padding: 0;
    object-fit: fill !important; /* TODO: wierd picture placement */
}

.min_height{
    min-height: 150px;
    position: relative;
}

.eval_title {
    position: absolute;
    top: 50%;
    margin-top: -20px; /* Half this element's height */
    left: 50%;
    margin-left: -80px;
    width: fit-content;
    border: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
}

.eval_form_container {
    margin: 50px;
}

.form_title {
    font-weight: 700 !important;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 25px;
}
.required-field:after {
    color: red;
    content: "*";
}

.form-section{
    margin-bottom: 40px;
}