#selection-icon {
    margin-top: 1.5vh;
    height: 2.8vh;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.filterIcon {
    font-size: larger;
}

.selection-container{
    display: flex;
}

.single-filter-item{
    text-align: left;
}

.large-header-input {
    margin-top: 1vh;
    font-size: larger;
}

.search-bar{
    display: flex;
    width: 80vmin;
    margin: auto;
}

#apply-filter-btn {
    margin-left: 1vw;
}

.searchButton:hover {
    color: white;
    background-color: rgb(136, 105, 165);
    border-color: rgb(136, 105, 165);
}

.searchButton {
    background-color: transparent;
    border-color:  rgb(119, 88, 148);
    color: rgb(119, 88, 148);
}


@media screen and (min-width: 900px) {
    #selection-icon {
        margin-top: 0;
        height: 2.8vh;
    }
}

@media screen and (min-width: 1200px) {
    .search-bar {
        width: 100vmin;
    }
}
