@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.coursedescription {
    margin-top: 11vh;
    text-align: justify

}
/* change hero background */
.hero {
    width: 100%;
    height: 30%;
    color: white;
}

#outerCotainer{
    padding: 0;
    margin: 0;
}

#description { 
    margin-top: 20%;
    padding: 0;
}

.progressBar {
    width: 30%;
    color: #63469D;
    font-size: 30px;
}

.topHalf {
    background-image: url("../../img/guthrie.jpeg");
    color: white;
    padding: 0;
}

#barCol {
    text-align: center;
    padding: 0;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.linearBar {
    align-items: center;
    display: flex;
}



.gpaOverLay {
    font-family: "PingFang SC", sans-serif;
    font-weight: 600;
    margin-top: 125%;
}

.commentTitle {
    font-size: 2rem;
    font-family: "PingFang SC", sans-serif;
    font-weight: 600;
    margin: 5rem 0rem 5rem 2rem;
}

.gpaValue {
    font-size: 22px;
    margin: 0%;
}

.gpaLabel {
    font-size: 12px;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #63469D;
    font-size: 13px;
}

.CircularProgressbar  .CircularProgressbar-path {
    stroke: #63469D;
}

.CircularProgressbar {
    width: 40%;
}

#fillComment{
    margin-top: 1rem;
    z-index: 9;
    margin-left: 1rem;
    text-decoration: none;
}

#largeScreenDescription {
    display: none;
    margin: auto;
}

.comments {
    padding-right: 6%;
    padding-left: 6%;
    margin-left: auto;
    margin-right: auto;
}

#overlay {
    background-color:rgba(157, 138, 70, 0.7);
    background-size: cover;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
}

.courseCredit {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.courseCode {
    position: static;
    border: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 1px;
    text-align: left;
    text-transform: capitalize;
    
}

.courseName {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    border: 1px;
    margin-bottom: 10px;
}

.courseDesc {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
}

.button {
    border: none;
    text-decoration: none;
    display: inline-block;
    margin: 1px 5px;
    border-radius: 12px;
}

.creditInfo {
    background-color: rgb(236, 236, 236);
    float: left;
    color: rgb(149, 149, 149);
    padding: 13px;
    font-size: 13px;
    text-align: left;
}

.credit {
    background-color: rgb(151, 124, 214);
    float: left;
    color: white;
    padding: 5px;
    font-size: 13px;
    text-align: center;
}

.type {
    background-color: rgb(154, 179, 219);
    float: left;
    color: white;
    padding: 5px;
    font-size: 13px;
    text-align: center;
}

.myPlan {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    text-align: left;
    border: 1px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3rem;
}

#commentButton {
    background-color: #63469D;
    font-family: 'PingFang SC', sans-serif;
    font-weight: 600;
}

#smallScreenDescription {
    margin-top: 1rem;
}

.descriptionTop {
    margin-top: 10rem;
    margin-right: 3rem;
}

/* Media Control screen larger than 320px */ 
@media (min-width: 460px)
{
    #description {
        margin-top:13%
    }
}

/* Media Control screen larger than 480px */ 
@media (min-width: 768px) 
{
    
    .CircularProgressbar {
        width: 25%;
    }

    .gpaOverLay{
        margin-top: 152%;
    }
    .gpaValue {
        font-size: 35px;
        margin: 0%;
    }
    
    .gpaLabel {
        font-size: 20px;
    }

    #description {
        margin-top:10%
    }

    .hero {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 35%;
        padding-bottom: 10px;
    }

    .overlay {
        background-color:#9D8A46;
        padding-top: 45px;
        padding-right: 10px;
        border-radius: 25px 25px 25px 25px;
    }

}



/* Media Control screen larger than 768px */ 
@media (min-width: 1000px)
{
    #fillComment{
        margin: auto
    }
    #barCol {
        margin: auto;
    }

    .CircularProgressbar {
        width: 50%;
    }

    .gpaOverLay{
        margin-top: 105%;
    }

    .gpaValue {
        font-size: 30px;
        margin: 0%;
    }
    
    .gpaLabel {
        font-size: 15px;
    }

    #description {
        margin-top:8%
    }
    .hero {
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 25%;
        padding-right: 25%;
    }

}

@media (min-width: 1200px) {
    
    #description {
        margin-top:5%
    }
    #smallScreenDescription {
        display: none;
    }

    #largeScreenDescription {
        display: inline;
    }
}