@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@300&display=swap');

/* change hero background */
.hero {
    width: 100%;
    height: 30%;
    background-color: rgba(221, 202, 228, 0.829);
    background-size: cover;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.courseCode {
    position: static;
    border: 1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    margin-bottom: 1px;
    text-align: left;
}

.courseName {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: left;
    border: 1px;
}

.myPlan {
    color: white;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    border: 1px;
}

.courseDesc {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: left;
}

.button {
    border: none;
    text-decoration: none;
    display: inline-block;
    margin: 1px 5px;
    border-radius: 12px;
  }

.credit {
    background-color: rgb(151, 124, 214);
    float: left;
    color: white;
    padding: 5px;
    font-size: 13px;
    text-align: center;
}

.type {
    background-color: rgb(154, 179, 219);
    float: left;
    color: white;
    padding: 5px;
    font-size: 13px;
    text-align: center;
}

.star {
    background-color: rgb(236, 236, 236);
    float: left;
    color: rgb(149, 149, 149);
    padding: 13px;
    font-size: 10px;
    text-align: left;
}

.starIcon {
    color: rgb(230, 178, 84);
}


/* Media Control screen larger than 320px */ 
@media (min-width: 320px)
{

}

/* Media Control screen larger than 480px */ 
@media (min-width: 480px) 
{


}

/* Media Control screen larger than 768px */ 
@media (min-width: 768px)
{

}