.big-footer{
    display: none;
    bottom: 0;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.16), 0 -1px 3px rgba(0,0,0,0.23);
    margin-top: 1rem;
}

@media screen and (min-width: 1023px) {
    .big-footer{
        display: block;
        bottom: 0;
        box-shadow: 100px solid rgba(0,0,0,0.23);
        background-color: white;
        z-index: 100;
        text-align: center;
        height: 6rem;
        padding-top: 2rem;
    }

    .big-footer img{
        width: 10rem;
    }
}

/* Footer starts here  */
footer{
    height: 5rem;
    width: 100%;
    background-color:white;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.16), 0px 1px 3px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

footer img{
    width: 1.5rem;
}

#footer-nav-container{
    display:none;
    width: 13rem;
}

footer div{
    margin-top: auto;
    margin-bottom: auto;
    width: 33%;
    text-align: center;
    margin-left: 1%;
}

footer p{
   margin:0; 
   font-size: 10px;
}

footer{
    bottom: 0;
    position: fixed;
}

@media screen and (min-width: 1023px) {
    

    #footer-img-for-nav{
        display: block;
        width: 13rem;
    }

    #footer-nav-container{
        display:block;
        width: 150rem;
        margin-left: 4rem;
    }

    footer div{
        width: 20%;
        text-align: center;
        margin-left: 0.5rem;
    }

    #login{
        margin-right: 3rem;
    }

    footer{
        bottom: 0;
    }

}


@media screen and (min-width: 1200px) {

    #footer-img-for-nav{
        display: block;
        width: 13rem;
    }

    #footer-nav-container{
        display:block;
        width: 150rem;
        margin-left: 4rem;
    }

    footer div{
        width: 15%;
        text-align: center;
        margin-left: 0.5rem;
    }

    #login{
        margin-right: 3rem;
    }

}

.hide {
    display: none;
}