* {
    box-sizing: border-box;
}

#large-header {
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    height: 11vh;
}


header .search-bar {
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}

.header-logo {
    max-width: 8vmin;
    max-height: 4vh;
    align-content: left;
}

.large-header-input {
    width: 50vmin;
    margin-left: 1vmin;
}

.search-icon {
    position: relative;
}

#right-upper-icons {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.1;
    margin-right: 1%;
}

.logo-with-characters {
    padding-top: 3vh;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    height: 60%;
    width: 60%;
    outline: none;
    border: none;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
}

.logo-with-characters:hover {
    background-color: #fafafa;
}

.logo-with-characters:active{
    border: none;
}

a:hover {
    color:rgb(94, 61, 94);
    text-decoration: none;
}

#large-header{
    justify-content: center;
}

#simple-meanubutton {
    display: flex;
}

#course-radar {
    width: 60vmin;
    cursor: pointer;
    display: none;
}

#course-radar2 {
    display: none;
    cursor: pointer;
}

#simple-menu2 {
    display: flex;
    flex-direction: column;
}

.survey {
    white-space: nowrap;
}

@media screen and (min-width: 900px) {
    #large-header {
        justify-content: space-between;
    }

    #course-radar {
        width: 30vmin;
        margin-left: 2vw;
        display: flex;
    }


    header .search-bar {
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    #right-upper-icons {
        display: flex;
    }

    #simple-meanubutton {
        display: none;
    }

    #course-radar {
        width: 30vmin;
        margin-left: 2vw;
    }

    header .search-bar {
        margin-left: 10rem;
    }
}