.very-important-message {
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	height: fit-content;
	left: calc(50% - 265px);
	padding: 15px;
	position: fixed;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	width: 500px;
	z-index: 1102;
}

.very-important-message img {
	border-radius: 10px;
	display: block;
	width: 100%;
}

.very-important-message .major-button {
	background-color: rgb(144, 26, 255);
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	color: white;
	cursor: pointer;
	margin-top: 15px;
	outline: none;
	padding: 10px 50px;
	transition: box-shadow 0.25s;
}

.very-important-message .major-button:hover {
	box-shadow: 0 0 10px rgba(144, 26, 255, 0.5);
}

.very-important-message .minor-button {
	background-color: transparent;
	border: none;
	bottom: 15px;
	font-size: small;
	position: absolute;
	right: 15px;
}

@media screen and (max-width: 900px) {
	.very-important-message {
		left: 5%;
		width: 90%;
	}
}
