#selection-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#selection-icon > img {
    height: 3vh;
    padding-top: 0.25rem;
    padding-left: 0.75rem;
}

.selection {
    display: flex;
    flex-direction: column;
}

#dropdownMenuButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selection-container{
    display: flex;
}

.listing {
    position: relative;
}

.MuiSelect-root{
    background-color: white;
}