#selection-icon {
    margin-top: 1.5vh;
    height: 2.8vh;
}



.selection {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.selection-container{
    display: flex;
}


.single-filter-item{
    text-align: left;
    min-width: 100px;
}

.large-header-input {
    margin-top: 1vh;
    font-size: larger;
    width: 40vmin;
}

.search-bar{
    display: flex;
}

#apply-filter-btn {
    margin-left: 1vw;
}

@media screen and (min-width: 900px) {
    #selection-icon {
        margin-top: 0vh;
        height: 2.8vh;
    }
}

@media screen and (min-width: 1200px) {
    .large-header-input {
        width: 50vmin;
    }
}