#selection-icon {
    display: flex;
    align-items: center;
}

#selection-icon > img {
    height: 3vh;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.selection-container{
    display: flex;
}

.single-filter-item{
    text-align: left;
    min-width: 100px;
}