#selection-icon {

}

#selection-icon > img {
    height: 3vh;
}

.selection {
    display: flex;
    flex-direction: column;
}

#dropdownMenuButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selection-container{
    display: flex;
}

.listing {
    position: relative;
}