.profile-page {
    padding-bottom: 5rem;
    padding-top: 14vh;
}

.favorite-courses {
    text-align: left;
}

.favorite-courses img {
    display: block;
    margin: 0 auto;
    max-width: 320px;
}

.input-bar {
    margin-top: 10px;
}

.input-bar input {
    background-color: white;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 5px;
    display: block;
    font-size: inherit;
    margin: 0 auto;
    max-width: 600px;
    padding: 5px 10px;
    width: 100%;
}

.input-bar label {
    display: block;
    font-size: 16px;
    margin: 0 auto 5px;
    max-width: 600px;
    text-align: left;
    width: 100%;
}

.input-bar label::after {
    content: "：";
}

.profile-settings button {
    background-color: var(--theme-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 15px auto 0;
    padding: 10px 30px;
}

.user-info{
    padding: 1.7rem;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
}

#user-info-background{
    height: 6rem;
    background-image: url('../../img/user-info-background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 0;
}

#user-logo{
    border-radius: 100%;
    background-color: rgb(50, 0, 111);
    height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
    margin-top: -4rem;
    /* margin-left: -2rem; */

}

#user-logo-group {
    display: flex;
    justify-content: space-between;
}

#user-info-logoout{
    min-width: 5rem;
    height:2.5rem;
    text-align: center;
    border-radius: 2rem;
    margin-top: -1rem;
    align-items: center;
    padding-left:0.5rem;
    padding-right:0.5rem;
    font-weight: 900;
}



#no-result {
    width: 20rem;
}

#user-info-logoout p{
    margin:0;
    font-weight: 400;
    font-size: 0.8rem;
}

#user-info-detail h1{
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#user-info-detail div span {
    font-size: 0.8rem;
    color: rgba(65, 65, 66, 0.87);
}

.user-info-container{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}
.user-info-container img{
    width: 1.2rem;
    margin-right: 0.3rem;
}

#user-sub-info{
    display: flex;
}

@media screen and (min-width: 540px) {
    #no-result {
        width: 30rem;
    }
}

@media screen and (min-width: 720px) {
    #no-result {
        width: 40rem;
    }
}

@media screen and (min-width: 1140px) {
    #no-result {
        width: 50rem;
    }
}