:root {
	--theme-color: #5E4271;
}

* {
	outline: none;
}

body {
	height: inherit;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select: none;
	user-select: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html {
	min-height: 100%;
}

.full-screen {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, .9);
	color: white;
	height: 100%;
	left: 0;
	padding-top: 100px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1101;
}

.full-screen h3 {
	font-size: 1.25rem;
}

.full-screen img {
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 225px;
	position: absolute;
	right: 0;
	top: 0;
}

.extension .courseDesription,
.extension .commentTitle,
.extension .topHalf,
.extension #large-header {
	display: none;
}

.extension .comments {
	margin-top: 15px;
	padding: 0;
}

.extension #description {
	margin-top: 0;
}